doctype html
html(lang="pt-br")
  head
    meta(charset="utf-8")
    title <%= appname %>
    link(rel="stylesheet", type="text/css", href="css/base.css")
    script(type="text/javascript", src="js/base.js")
  body.
      Bem vindo ao Lâmpada!
